.wrapper-forecast {
  border: 1px solid #2c3e50;
  border-radius: 10px;
  width: fit-content;
  padding: 50px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  background: #2c3e50;
  color: aliceblue
}

.forecast-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.weather-icon {
  margin-bottom: 28px;
}

.weather-temp {
  font-size: 30px;
  margin-bottom: 10px;
}

.weather-feel {
  font-size: 14px;
  margin-bottom: 8px;
}

.weather-text {
  font-size: 22px;
  margin-top: 6px;
}

@media screen and (max-width:500px) {
  .weather-icon {
    margin-bottom: 18px;
  }

  .weather-temp {
    font-size: 24px;
    margin-bottom: 5px;
  }

  .weather-feel {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .weather-text {
    font-size: 14px;
    margin-top: 6px;
  }

  .forecast-container {
    flex-direction: column;
    gap: 20px;
  }

  .wrapper-forecast {
    padding: 20px;
    margin: 0 auto;
  }

}