.week-container {
  display: flex;
  margin-top: 40px;
  align-items: center;
  flex-direction: column;
}

h3 {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

h5 {
  margin-bottom: 10px;
}

.week-container-item {
  background: #2c3e50;
  padding: 14px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.precipitation {
  display: flex;
  position: relative;
}

.precipitation>span {
  position: static;
  margin-right: 4px;
}