* {
  color: aliceblue;
}

.hourly-container {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.hourly-time {
  text-align: center;
}

h3 {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.hourly-container-item {
  background: #2c3e50;
  padding: 14px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.hourly-clouds {
  display: flex;
  position: relative;
}

.hourly-clouds>span {
  position: static;
  margin-left: 4px;
}

.hourly-wind {
  display: inline-flex;
  align-items: center;
}

.hourly-wind>span {
  font-size: 16px;
  /* position: static; */
  /* margin-right: 6px; */
}