@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  min-width: 400px;
}

* {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;

  padding: 0;

  margin: 0;
  font: inherit;

  color: inherit;

  line-height: inherit;
  cursor: pointer;
  -webkit-appearance: none;

  -moz-appearance: none;

  appearance: none;
}

body {
  background: #1c2731;
  font-family: 'Inter', sans-serif;

}