* {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  /* убираем фон */
  border: none;
  /* убираем рамку */
  padding: 0;
  /* убираем отступы */
  margin: 0;
  /* убираем внешние отступы */
  font: inherit;
  /* наследуем шрифт */
  color: inherit;
  /* наследуем цвет текста */
  line-height: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  /* сброс нативного стиля в WebKit */
  -moz-appearance: none;
  /* сброс в Firefox */
  appearance: none;
}